# Postgres Live
SERVER_PORT=:9090
API_SECRET=78dh90sjy #Used when creating a JWT. It can be anything
DB_HOST=127.0.0.1
DB_DRIVER=postgres
DB_USER=username
DB_PASSWORD=password
DB_NAME=db_name
DB_PORT=5432

# Postgres Test
TestServerPort=9090
TestApiSecret=78dh90sjy
TestDbHost=127.0.0.1
TestDbDriver=postgres
TestDbUser=username
TestDbPassword=password
TestDbName=db_name_test
TestDbPort=5432